/* Changes the background of CSS */

body {
  background-color: rgb(0, 74, 99);
}

h1 {
  color: rgb(105, 105, 165);
  margin-left: 20px;
}
p {
  color: white;
}
li {
  color: white;
}
h2 {
  color: rgb(182, 182, 182);
}
h3 {
  color: rgb(182, 182, 182);
}
h4 {
  color: rgb(182, 182, 182);
}
.wrapper {
  font-size: 1em;
}

.px {
  width: 1500px;
  background-color: cadetblue;
}
.cm {
  width: 37cm;
  background-color: darkgray;
}
.mm {
  width: 370mm;
  background-color: darkkhaki;
}

.vw {
  width: 10vw;
  background-color: chartreuse;
}

.em {
  width: 10em;
  background-color: crimson;
}
.vh {
  height: 10vh;
  background-color: darkturquoise;
}
.box {
  border-style: solid;
  width: 350px;
  background-color: black;
  border: 3px solid rgb(255, 255, 255);
  border-width: 20px;
  border-radius: 1pc;
}
